* {
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

input {
  font-family: 'Montserrat', sans-serif; }

body {
  margin: 0; }

.generator {
  display: flex;
  flex-direction: row; }

.pages {
  width: 300px;
  padding: 10px 0;
  border-right: 2px solid #616161; }
  .pages > div {
    min-height: 400px;
    padding: 5px 10px; }
  .pages .structure > .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px; }
  .pages .structure .page {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .pages .structure .page:hover .new-subpage {
      display: block; }
    .pages .structure .page .title {
      width: 74%;
      font-size: 15px;
      letter-spacing: 1.5px;
      text-transform: uppercase; }
    .pages .structure .page input {
      font-size: 15px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border: 0; }
    .pages .structure .page .actions {
      display: flex;
      flex: 1 0 auto;
      justify-content: flex-end;
      align-items: center;
      margin-right: 5px; }
      .pages .structure .page .actions .add {
        width: 16px;
        height: 16px;
        cursor: pointer; }
        .pages .structure .page .actions .add img {
          max-width: 100%;
          height: auto; }
      .pages .structure .page .actions .change {
        width: 16px;
        height: 16px;
        cursor: pointer; }
        .pages .structure .page .actions .change img {
          max-width: 100%;
          height: auto; }
      .pages .structure .page .actions .remove {
        width: 16px;
        height: 16px;
        cursor: pointer;
        margin-left: 8px; }
        .pages .structure .page .actions .remove img {
          max-width: 100%;
          height: auto; }
    .pages .structure .page .subpages {
      margin: 0 3px 0 7px;
      padding-left: 4px;
      border-left: 2px dotted #cecece; }
      .pages .structure .page .subpages .page {
        box-shadow: none; }
  .pages .structure .new-page .new-page-button {
    border: none;
    width: 100%;
    margin: 15px 0;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-transform: uppercase;
    background-color: #77CCA4;
    cursor: pointer; }
    .pages .structure .new-page .new-page-button .plus {
      width: 20px;
      height: 20px;
      margin: 0 auto; }
      .pages .structure .new-page .new-page-button .plus img {
        max-width: 100%; }
  .pages .structure .new-subpage {
    display: none; }
    .pages .structure .new-subpage .new-subpage-button {
      border: none;
      width: 100%;
      margin: 15px 0;
      padding: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      text-transform: uppercase;
      background-color: #77CCA4;
      cursor: pointer; }
      .pages .structure .new-subpage .new-subpage-button .plus {
        width: 20px;
        height: 20px;
        margin: 0 auto; }
        .pages .structure .new-subpage .new-subpage-button .plus img {
          max-width: 100%; }
  .pages .structure .subpages .page {
    margin: 5px 0; }
    .pages .structure .subpages .page .title {
      width: 80%;
      padding-right: 10px; }
    .pages .structure .subpages .page input {
      font-size: 13px; }
    .pages .structure .subpages .page .actions {
      justify-content: flex-start; }

.page-design-area {
  flex: 1 0 auto;
  padding: 10px 0; }
  .page-design-area > .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px; }

.elements {
  width: 300px;
  padding: 10px 0;
  border-left: 2px solid #616161; }
  .elements .element {
    cursor: move; }
  .elements .elements-block > .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px; }
  .elements .rectangle-element {
    display: block;
    width: 100px;
    height: 50px;
    border: 2px solid #cecece; }

/*# sourceMappingURL=styles.css.map */
